[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "covid19tunisia"]
	path = covid19tunisia
	url = https://github.com/mounabelaid/covid19tunisia
